.header {
  background-color: $white;
  padding: 0;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .header {
    background-color: $light-gray;

    &--index {
      background-color: #f9f9f9;
    }
  }
}

@media (min-width: $desktop) {
  .header {
    overflow: hidden;
  }
}
