.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding-bottom: 19px;
  border-bottom: 1px solid #ececec;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 13px 0 6px;
  width: 40px;
  height: 40px;

  &:active {
    opacity: 0.3;
  }
}

.social-links__image {
  .social-links__link:hover &,
  .social-links__link:active & {
    fill: #46c1ae;
  }
}

@media (min-width: $tablet) {
  .social-links {
    padding-bottom: 0;
    width: 300px;
    border-bottom: 0;
  }
}
